// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post {
  margin-left: 20px;
}

.unpublished {
  background-color: rgba(200,200,200,.80);
}

[data-unpublished] {
  background-color: yellow;
}

[data-published] {
  background-color: lightgreen;
}
